.logo {
  max-width: 4rem;
  border-color: black;
  border-style: solid;
  border-radius: 4rem;
  background-color: white;

}

input_icon {
  position: absolute;
  margin-top: 1px;
  margin-left: 1px;
  font-size: 18px;
  color: black
}


#circle1 {
  height: 0.375rem;
  width: 0.375rem;
  border-radius: 50%;
  background-color: black;
}

#circle2 {
  height: 0.375rem;
  width: 0.375rem;
  border-radius: 50%;
  background-color: black;
}

#circle3 {
  height: 0.375rem;
  width: 0.375rem;
  border-radius: 50%;
  background-color: black;
}

#circle4 {
  height: 0.375rem;
  width: 0.375rem;
  border-radius: 50%;
  background-color: black;
}

.flayer {
  max-width: 40%;
  margin-left: auto;
  margin-right: auto;
}

column2 {
  border-radius: 3px;
  border-style: solid;
  border-color: black;

}

.gallery {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 16px;
  max-width: 1400px;
  margin: 0 auto;
  padding: 20px 10px;
}

/* .gallery .insta{
  width: 100%;
  max-width: 350px;
  height: 300px;
  object-fit: cover;
  border-radius: 10px;
}

.gallery::after {
  content: "";
  width: 350px;
} */

.insta
{
  min-width: 10rem;
}